
.main_section {
    overflow: AUTO;
    white-space: nowrap;
    box-shadow: -7px -9px 275px -67px rgba(0,0,0,0.75);
}

.menu {
    scroll-snap-type: x mandatory;
}

.home_bloc {
    scroll-snap-align: start;
}


.home_bloc {
    display: inline-flex;
    vertical-align: middle;
    white-space: pre-wrap;
    width: 100vw;
    height: 100vh;
}

.home_bloc_contener {
    display: flex;
    margin: auto;
    max-width: 40rem;
}

article .home_bloc_contener {
    position: relative;
    top: -2rem;
}

.home_bloc_contener_main {
    flex-direction: row-reverse;
}

.home_bloc img {
    position: relative;
    max-width: 500px;
    height: auto;
    border-radius: 500px;
    z-index: 0;
}


.home_bloc_contener_main h2 {
    margin-top: 0;
}

.home_bloc_contener_main_subtitle {
    position: relative;
    top: -1rem;
}




@media screen and (max-width: 640px) {
    .home_bloc img{
        display:none; 
    }
}


