

.burger
{
    appearance:none;
    color:inherit;
    cursor:pointer;
    position:absolute;
    top:3em;
    z-index: 5;
    outline: none;
}

.burger:before
{
    content:'';
    width: 50px;
    font-size: 1em;
    padding: 2em;
    background : url(burgeur.svg) no-repeat;
    background-size: 1.6rem;
    position: relative;
    right: -.3rem;
    top: 2rem;
    transition: transform .3s ease-out;

}

.burger:checked:before
{
    content:'';
    width: 50px;
    font-size: 1em;
    padding: 2em;
    background : url(../img/close.svg) no-repeat;
    background-size: 1.3rem;
    position: relative;
    right: -11rem;
    top: 0rem;
    transition: transform .3s ease-out;

}

.menu
{
    transition: .2s;
    position: relative;
    transition: transform .3s ease-out;
}



.burger:checked ~ main .menu {
    transform: translateX(180px);
}

.menu {
    transform: translateX(0);
}


.burger:checked ~ .side_bar .main_menu {
    transform: translateX(-1rem);
}

.burger:checked ~ main .nav_bar {
    transform: translateX(180px);
}

.switch {
    opacity: 0;
    transition: transform .3s ease-out;
}

.burger:checked ~ .switch {
    opacity: 1;
    transition: transform .3s ease-out;
}

.burger:checked ~ .menu-main-container .menu {
    z-index: 1000;
    width: 180px;
    transition: 5s;
}





@media screen and (min-width: 640px) {

    .main_menu {
        transform: translateX(0);
    }
    

}

