//* Basic CTA 

.cta {
    display: inline-block;
    padding : .6rem 1rem; 
    margin-right: .5rem;
}

.cta:hover {
    padding : .6rem 1rem; 
    margin-right: .5rem;
    
}


//* Main CTA

.main_cta_btn {
    position: relative;
    display: inline-block;
}