
.form {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: -7px -9px 275px -67px rgba(0, 0, 0, 0.418);
}


//* Title box 

.form_title {
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 0 0;

    background: linear-gradient(45deg, #4E5F79,#35395A);

    @include hfr;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}


//* Input refont
.form input {
    width: 80%;
    padding: 1rem 1.5rem .5rem 1.5rem;
    border: none;
    border-bottom: $gray 1px solid;
    @include tfl;
}

.form textarea {
    position: relative;
    border: none;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    @include tfl;
}

.form input:focus {
    outline: none;
    border-bottom: $form  1px solid;
}

.form textarea:focus {
    outline: none;

}

.form input::placeholder {
    color: $gray ;
}


.form textarea::placeholder {
    color: $gray;

}


//* Button 

.form .form_button {

    background: linear-gradient(45deg, #4E5F79,#35395A);
    border-radius: .2rem;

    @include tfr;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;

    transform: .5;
}

.form .form_button:hover {
    background: linear-gradient(45deg, rgb(71, 87, 110),rgb(45, 49, 78));
    bottom: 1rem;

    transform: .5; 
}



//* feedback 

span.wpcf7-not-valid-tip {
    padding: 0 1rem;
    color: #d86a73;
    font-size: .8em;
    font-weight: normal;
}





