
.menu-main-container {
    margin-top: 7vh;
    padding-left: 3em;
    color: #fff;
    text-transform: uppercase;
}

.menu-main-container a {
    padding: 1em;
    background: none;
    color: #fff;
}

.menu-main-container a:hover {
    background: none;
    color: #fff;
}


.menu-main-container .current-menu-item {
    background-color: #fff;
    border-radius: 0.75rem 0 0 0.75rem;
    color: #000;
}

.menu-main-container .current-menu-item a{
    color: #000;
}

.menu-main-container .current-menu-item:hover{
    background-color: #fff;
    color: #000;
}


.sub-menu li {
    text-transform: lowercase;
    padding: 1em 0 1rem 1rem;
    margin-top: .2rem;
    width: 150px;
}


.menu.ins a {
    color: black;
}