.menu-main-container {
    color: #fff;
    padding-left: 3em;
    margin-top: 300px;
    text-transform: uppercase;
}

.menu-main-container li {
    padding: 1em;
}

.menu-main-container a {
    color: #fff;
    padding: 1em;
    background: none;
}

.menu-main-container a:hover {
    background: none;
    color: #fff;
}


.menu-main-container .menu-item-19 {
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: .5rem;
    padding-right: 15rem;
    padding-left: 2rem;
    color: #000;
}

.menu-main-container .menu-item-19:hover{
    background-color: #fff;
    border-radius: 1rem;
    padding-right: 15rem;
    padding-left: 2rem;
    color: #000;
}