
//* couleurs 

$mcd : #DA6A74; // main color dark
$mcl : #F99B96; //main color light
$mclt : rgba(249, 155, 150, 0.5); //main color light transparent
$mcg : linear-gradient(#F99B96, #DA6A74); //main color dégardé
$hc : #0F293A; //title color
$hcl : #ABCBCE; //title color
$dm : #212121; //darkmode
$form : #35395A; 
$gray : #917e7e82; 

